<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h2>Главная страница</h2>
{% if request.user.is_authenticated %}
    <h4>Текущий пользователь: {{ request.user.username }} (<a href="{% url 'logout' %}">Выйти</a>)</h4>
{% else %}
    <h4>Текущий пользователь: <a href="{% url 'login' %}">Войти</a> </h4>
{% endif %}

<h1>{{title}}</h1>
<div>
    <h4>Число вопросов</h4>
    <p>{{count_value}}</p>
</div>


{% for item in upload%}
<p>
{{item.name}}
<hr>
</p>
{% endfor %}
</body>
</html>